.icon-volume-slider {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.icon-volume-slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.1);
    height: 12px;
    flex: 1;
    margin-left: 8px;
    width: 100%;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.2s ease;
    padding: 0 7px;
}

.icon-volume-slider input[type="range"]:hover {
    background: rgba(255, 255, 255, 0.2);
}

.icon-volume-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #dddddd;
    border-radius: 50%;
    transition: transform 0.1s ease, background-color 0.1s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.icon-volume-slider input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #dddddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease;
}
