.app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1a1c1e;
}

.app-bar {
    flex-shrink: 0;
    height: 60px;

    display: grid;
    grid-template-columns: 60px 1fr 60px;
    align-items: center;

    background-color: #282c34;
    border-radius: 8px;
}

.app-bar-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-bar-title h1 {
    margin: 0;
    line-height: 1;
}

.app-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    flex: 1;
    padding-top: 1rem;
    min-height: 0;
}

.sidebar {
    background-color: #282c34;
    width: 40vw;
    min-width: 180px;
    max-width: 300px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.sidebar-content {
    margin: 1rem;

    display: flex;
    flex-direction: column;

    align-items: start;

    gap: 1rem;
}

.sidebar-content h2 {
    margin: 0;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.album-art {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.playlist-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playlist-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.playlist-text * {
    margin: 0;
}

.playlist-text h5 {
    color: #999999;
}

.tutter-blue {
    color: #65abc1;
}