:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1c1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  background-color: #242424; /* matches your :root background */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}
